* {
margin:"0";
padding:"0";
box-sizing:border-box;
font-family: sans-serif;
}

html, body{
display: grid;
height: 100%;
width: 100%;
place-items:center;
background: #131419;
}

.wrapper .button { 
    display: inline-block;
    height: 60px;
    width: 60px;
    background: #131419;;
    margin: 0 5px;
    border-radius: 50px;
    overflow: hidden ;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0, 0,0.5),-3px-3px 7px rgba(255,255,255, 0.05);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
width: 200px;
}

.wrapper .button .icon i {
font-size: 25px;
line-height: 60px;
transition: all 0.3s ease-out;
}

.wrapper .button:hover {
color: #fff;
}

.wrapper .button span{
font-size: 20px;
font-weight: 500;
line-height: 60px;
margin-left: 10px;
}

.wrapper .button:nth-child(1):hover span{
color:#426782;
}
.wrapper .button:nth-child(2):hover span{
    color:#dd2a7b;
}
.wrapper .button:nth-child(3):hover span{
    color:#1da172;
}
.wrapper .button:nth-child(4):hover span{
    color:#333;
}
.wrapper .button:nth-child(5):hover span{
    color:#00acee;
}

.wrapper .button .icon{
display: inline-block;
height: 60px;
width: 60px;
text-align: center;
background: #fff;
border-radius: 50px;
box-sizing: border-box;
line-height:60px;
transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon{
    color:#426782;
}
.wrapper .button:nth-child(2):hover .icon {
    color:#dd2a7b;
}
.wrapper .button:nth-child(3):hover .icon {
    color:#1da172;
}
.wrapper .button:nth-child(4):hover .icon {
    color:#333;
}
.wrapper .button:nth-child(5):hover .icon {
    color:#00acee;
}